<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel=”stylesheet”
    href=”https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link
      href="vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="css/main.css" rel="stylesheet" />
    <title>AF Connect</title>
    <style>
      body {
        background-color: #efefef;
      }
      .card {
        background-color: white;
        border: 0px;
      }
      .card-header {
        background-color: white;
        color: "black";
        padding: 4px;
        border-bottom: #00005a solid 2px;
      }
      .card-header .btn {
        color: black;
      }
    </style>
  </head>
  <body>
    <div style="background-color: white">
      <div class="container">
        <div class="row" style="height: 69px">
          <div>
            <img
              src="/img/af-logo.svg"
              style="position: relative; top: 50%; transform: translateY(-50%)"
            />
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: #00005a">
      <div class="container">
        <div class="row" style="height: 260px">
          <div class="col-md-7" style="color: white; text-align: left;">
            <div
              style="position: relative; top: 45%; transform: translateY(-50%)"
            >
              <div style="">
                Välkommen till
              </div>
              <div style="margin-left:16px; font-size: 32pt">
                AF Connect
              </div>
              <div style="margin-left:32px">
                Transportera ditt CV direkt till mottagaren helt digitalt
              </div>
            </div>
          </div>
          <div class="col-md-5 d-none d-md-block" style="padding: 0px;">
            <svg
              style="position: absolute; bottom: 0; top: 0"
              width="30"
              height="260"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="none"
            >
              <polygon points="0,0 30,0 0,260" style="fill: #00005a" />
            </svg>
            <img
              src="img/banner.jpg"
              style="width: 100%; height: 260px; object-fit: cover; overflow: hidden;"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 p-2">
          <div style="background-color: #1616b2; padding:2px">
            <div
              style="margin-left: 8px; background-color: #efefef; padding: 16px"
            >
              Denna sida opererar helt på test data. <br />
              Läs mer här:
              <a href="https://github.com/MagnumOpuses/af-connect-module"
                >https://github.com/MagnumOpuses/af-connect-module</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 p-2">
          <div style="background-color: #fddc41; padding:2px">
            <div
              style="margin-left: 8px; background-color: #efefef; padding: 16px"
            >
              Inte du?
              <a href="#" onClick="onChangeUser();"
                >Logga in med ett annat Arbetsförmedlingen konto</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 p-2">
          <div id="resultPane" style="display: none;">
            <div class="panel panel-success">
              <div class="panel-body" style="text-align: left;">
                <div id="result">
                  <div class="accordion" id="consentForm"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: #00005a">
      <div class="container">
        <div class="row">
          <div class="col-md-12 p-2">
            <div style="padding-top: 33px; padding-bottom: 46px">
              <img src="/img/af-logo-white.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="config" data-af_login_url="<%= afLoginUrl %>"></div>
    <script src="js/main.bundle.js"></script>
    <script src="vendor/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
  </body>
</html>
