<!DOCTYPE html>
<html lang="en">
  <style>
    .logo {
      margin: 48px 0px 24px 34px;
      width: 295px;
    }
    .indicator {
      margin-left: 10px;
      margin-bottom: 14px;
      width:65px;
      height:26px;
    }
    .scr {
      font-size: 18pt;
      color: lightgray;
      text-align: left;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      margin-bottom: 14px;
      margin-left: 15px;
    }
    .name {
      margin: 20px 0px 0px 30px;
      font-size: 18pt;
    }
    .name-divider {
      width: 82%;
      margin-bottom: 10px;
      margin-top: 0px;
    }
  </style>
  <head>
    <meta charset="utf-8" />

    <!--    <link rel="stylesheet" href="/css/main.css" />  -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Arbetsförmedlingen Connect Once</title>
  </head>
  <body>
  <div id="config" data-af_login_url="<%= afLoginUrl %>"/>

  <div id="consentForm" class="d-flex flex-column overflow-hidden min-vh-100 vh-100">
  <!--  <header>
        <img class="logo" src="/img/af-logo.svg" />
    </header>  -->

  <!--  <div id="consentForm"></div> -->

    <!-- Begin page content -->

    <!-- Page headers -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="js/main.bundle.js"></script>
  </div>
  </body>
</html>