<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <title>AF Connect</title>
    <style>
        body {
            background-color: #c3d5da;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-2">
                <img src="/img/af-logo.svg">
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-2">
                <div id="resultPane" style="display: none;">
                    <div class="panel panel-success">
                        <div class="panel-body" style="text-align: left;">
                            <div id="result">
                                <div class="accordion" id="consentForm"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="consentControl" style="display: none;">
            <div class="col-md-12 p-2">
                <button type="button" class="btn btn-block btn-primary" onclick="onConsent();">Consent and close</button>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
    <script src="vendor/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</body>
</html>
